<div class="box box-center">
    <div class="mb-100">
        <div class="box-title">Conclave</div>
        <div class="box-desc">Join the discussion now!</div>
    </div>
    <div>
        <div>
            <button class="btn-action" (click)="socialSignIn('google')"><img src="assets/logo/Google_G_Logo.png"/><span>Sign in with Google</span></button>
        </div>
        <div>
            <button class="btn-action" (click)="socialSignIn('facebook')"><img src="assets/logo/facebook-seeklogo.com.svg"/><span>Sign in with Facebook</span></button>
        </div>
    </div>
</div>