.post-box{
  border-radius: 3px;
  padding: 5px 13px;
  box-shadow: 0px 0px 3px grey;
  margin-bottom:15px;
}

.post-text{
  width: 100%;
}

.post-username{
  font-weight:bold;
}

.post-attachment{
  display: flex;
  flex-direction: column;
  align-items: center;

  .post-attachment-image, .post-attachment-video{
    list-style:none;
    padding:0;
    
    li {
      margin:5px auto;
      > * {
        max-width:100%;
      }
    }
  }
}
